/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
/* navbar */
#navbar{
background: #90EE90;
color: whitesmoke;
overflow: auto;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
#navbar a{
	color:#ffff;
}

#navbar .logo{
	float: left;
	padding-left: 5px;
}
#navbar ul{
	list-style: none;
	float: right;
}
#navbar ul li{
	float:left;

}
#navbar ul li a{
	display:block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover, #navbar ul li a.active{
	background: #98FB98;
	font-weight: 1000;
	border-radius: 5px;
}
/* Shocase */
.showcase-content{
	text-align: center;
	padding-top: 39vh;
}
#showcase .showcase-content h1{
	font-size: 60px;
	line-height: 1.2em;
}
#showcase .showcase-content p{
	padding-bottom:20px;
	line-height:1.7em;
}
.btn{
	display:inline-block;
	font-size:18px;
	color:white;
	background: #90EE90;
	padding:13px 20px;
	border:none;
	cursor:pointer;
	border-radius: 50px;;
}
#showcase a:hover{
	background: #98FB98;
	font-weight: 1000;
	border-radius: 50px;
}
.btn:hover{
	background: #98FB98;
	color:black;
	font-weight: 1000;
}
.text-primary{
	color:#69bdd2;

}

.lead{
	font-size:20px;
}

.bg-dark{
	background: #3333;
}

.bg-light{
	background: #f4f4f4;
}

.bg-primary{
	background: #90EE90;
	/*color: ;*/
}

#showcase{
	position: relative;
	background: url('showcase.jpg') no-repeat center center/cover;
	height:600px;
	

	
}

#showcase::before{
	content:" ";
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color: rgba(0,0,0,.25);
}


 #showcase .showcase-content{
 	position:absolute;
	color:white;
	text-align:center;
	padding-top:170px;
	

}

#showcase .showcase-content h1{
	font-size: 60px;
	line-height: 1.2em;
}
#showcase .showcase-content p{
	padding-bottom:20px;
	line-height:1.7em;
}

.btn{
	display:inline-block;
	font-size:18px;
	color:#ffff;
	background: #5C6F9E;
	padding:13px 20px;
	border:none;
	cursor:pointer;

	
}

.btn:hover{
	background: #f7c08a;
	color:#f4f4f4;
}

/*Home Info*/
#home-info{
	height: 550px;
	color: white;
}

#home-info .info-img{
	float: left;
	width: 50%;
	min-height: 100%;
	overflow: hidden;
}

#home-info .info-content{
	float: right;
	width: 50%;
	height: 94.5%;
	text-align: center;
	overflow: hidden;
}

#home-info .info-content{
	padding: 20px;
}

.box{
	float: left;
	width: 33.3%;
	padding: 50px;
	text-align: center;
}

.box i{
	margin-bottom: 10px;
}

.clr{
	clear: both;
}

#main-footer{
	text-align: center;
	background: #4444;
	color: white;
	padding: 40px;
}